.gridRow {
  fill: transparent;
}

.gridRow:nth-child(even) {
  fill: rgba(0, 0, 0, 0.03); 
}

.gridRowLine {
  stroke: var(--gantt-border-color, #ebeff2);
}

.gridTick {
  stroke: var(--gantt-border-color, #e6e4e4);
}
